body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f5f7fa;
  margin: 0;
}

.container {
  max-width: 500px;
  width: 90%;          
  margin: 40px auto;   
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 30px rgba(0,0,0,0.08);
}


h1, h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

button {
  width: 50%;
  padding: 12px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
 margin: 20px auto;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #43a047;
}

.link {
  text-align: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9fafb;
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
  border: 1px solid #eee;
}
.pagination {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* align vertically */
  gap: 10px;                 /* space between items */
  margin-top: 20px;
}

.pagination button {
  width: auto;
  padding: 5px 10px;
  margin: 5px;
}
.github-link {
  text-align: center;
  margin-top: 15px;
}

.github-link a {
  font-style: italic;
  display: block;   /* forces new line */
}
.github-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .container {
    margin: 20px auto;
    padding: 15px;
  }

  h1 {
    font-size: 22px;
  }

  input, button {
    font-size: 14px;
  }
}